<html>

<head>
    <title>Bridge Story</title>
    <meta charset="utf-8">

   {{!-- Add script --}}
	<script src="/js/bootstrap.js"></script>
	<script src="/js/jquery-3.5.1.js"></script>
	<script src="/js/eventHandler.js"></script>
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	{{!-- <script src="js/diaryHandler.js"></script> --}}

	{{!-- Add link --}}
	<link rel="stylesheet" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" href="/css/jquery-ui.css">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/menu.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	{{!-- put icons in a row --}}
	<div class="top-menu" style="z-index: 100;">
		<div style="left:0%;top:0%;height:60px" id="rectangle"></div>
    <a href="/" style="z-index: 2;"><i class="fa fa-arrow-left block" style="font-size: 20px; color: black; margin-top:0%; margin-left:-60px"></i></a> 
				<a class="block"></a>
		<a class="block"></a>

    <div class="block" style="margin-top:0%;z-index: 2;"> 
      Story  
    </div>
    		<a class="block"></a>
		<a class="block"></a>
		<a class="block"></a>

    <a href="/content/1" style="opacity:0;margin-top:-1%;margin-left:-10px;z-index: 2;"><img src="/images/Reply.png" style="width:50px"></a>
	</div>

	{{!-- lower menu --}}
	<div id="rectangle" style="bottom: 0; height: 30px; background: white;"></div>

</body>

</html>